<footer class="footer">
	<small>
		Un desarrollo de <a href="#">SonfInc 2018</a>. Todos los derechos reservados.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>